<!--Home Page-->
<div class="container-fluid number1" style="height: 13cm;width: 100%; background-color: rgba(204, 198, 198, 0.795);">
    <img src="./assets/picture/main1.jpeg" alt="kopfhorer"
        style="width: 300px;vertical-align: 100px; opacity: 0.4; position: relative;">
    <div class="title">
        <h4>Kulcsar Tamas</h4>
        <p id="p1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, libero ex? Quisquam eos esse
            voluptatum
            blanditiis sit repellendus non doloremque beatae inventore, odio perferendis unde ducimus nam, provident
            animi
            hic.</p>
    </div>

</div>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div id="div" class="col-sm-12 col-md-4 col-">
                <img src="./assets/picture/repcsi.JPEG" alt="flight" title="flight">
                <p class="p">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <hr>
            </div>
            <div id="div" class="col-sm-12 col-md-4 col-">
                <video src="./assets/picture/video.MOV" title="ticino" type="video/MOV" autoplay controls
                    [muted]="true"></video>
                <p class="p" style="margin-top: 4%;">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <hr>
            </div>
            <div id="div" class="col-sm-12 col-md-4 col-">
                <img src="./assets/picture/klont.jpg" alt="klont" title="klont">
                <p class="p">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <hr>
            </div>
            <div id="div" class="col-sm-12 col-md-4 col-">
                <img src="./assets/picture/vizeses.JPEG" alt="vizeses" title="vizeses">
                <p class="p">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <hr>
            </div>
            <div id="div" class="col-sm-12 col-md-4 col-">
                <img src="./assets/picture/lauter.JPEG" alt="lauter" title="lauter">
                <p class="p">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <hr>
            </div>
            <div id="div" class="col-sm-12 col-md-4 col-">
                <img src="./assets/picture/klont2.jpg" alt="klont2" title="klont2">
                <p class="p">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <hr>
            </div>
            <div id="div" class="col-sm-12 col-md-4 col-">
                <img src="./assets/picture/1.jpg" alt="1" title="1">
                <p class="p">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <hr>
            </div>

            <div id="div" class="col-sm-12 col-md-4 col-">
                <img src="./assets/picture/3.JPG" alt="3" title="3">
                <p class="p">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <hr>
            </div>
            <div id="div" class="col-sm-12 col-md-4 col-">
                <img src="./assets/picture/4.JPEG" alt="4" title="4">
                <p class="p">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <hr>
            </div>
            <div id="div" class="col-sm-12 col-md-4 col-">
                <img src="./assets/picture/5.JPEG" alt="5" title="5">
                <p class="p">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <hr>
            </div>
            <div id="div" class="col-sm-12 col-md-4 col-">
                <img src="./assets/picture/6.jpg" alt="6" title="6">
                <p class="p">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <hr>
            </div>
            <div id="div" class="col-sm-12 col-md-4 col-">
                <img src="./assets/picture/7.JPG" alt="7" title="7">
                <p class="p">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <hr>
            </div>
            <div id="div" class="col-sm-12 col-md-4 col-">
                <img src="./assets/picture/8.JPEG" alt="8" title="8">
                <p class="p">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <hr>
            </div>
            <div id="div" class="col-sm-12 col-md-4 col-">
                <img src="./assets/picture/9.JPEG" alt="9" title="9">
                <p class="p">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>

                <hr>
            </div>
            <div id="div" class="col-sm-12 col-md-4 col-">
                <img src="./assets/picture/77.JPEG" alt="77" title="77">
                <p class="p">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <hr>
            </div>
        </div>
    </div>
</div>