<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div id="div1" class="col-sm-12 col-md-5 col">
                <iframe id="map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2696.0690867889575!2d8.590421215480758!3d47.48856747917703!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479a9e31004296b1%3A0xaa5588a3c6af337c!2sAspstrasse%205%2C%208426%20Lufingen!5e0!3m2!1shu!2sch!4v1671353218901!5m2!1shu!2sch"
                    width="400" height="400" style="border: 0.2em;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div id="div2" class="col-sm-12 col-md-5 col animate__animated animate__bounce">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name:</th>
                            <th>Email:</th>
                            <th>Handy:</th>
                        </tr>
                      
                    </thead>
                    <tbody>
                        <tr>
                            <td>Kulcsar Tamas</td>
                            <td>tamaskulcsar@gmx.ch</td>
                            <td>+41782346414</td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>