<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="animated-title">
        <div class="text-top">
          <div>
            <span>Let me introduce myself!</span>
            <span>Welcome!</span>
          </div>
        </div>
        <div class="text-bottom">
          <div>Beata and Tamas</div>
        </div>
      </div>
      <div style="width: 1200px;">
        <img class="img1" src="/assets/picture/en nemetbe.JPEG" alt="en" title="en">
        <p id="p_img_1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ducimus consequatur
          exercitationem rerum,
          doloribus voluptatibus itaque, eveniet id deleniti aperiam fugit similique eum distinctio recusandae
          consequuntur adipisci voluptate commodi? Est. Lorem ipsum dolor sit, amet consectetur adipisicing
          elit.
          Amet impedit sint eaque expedita perferendis deserunt adipisci explicabo quia reprehenderit quidem?
          Temporibus accusantium tenetur praesentium eius id tempore iure molestias corporis!
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est natus tempora nam quidem harum
          asperiores
          autem blanditiis beatae, sed aliquam aperiam doloribus, fugit dolorem. Laudantium officia in a
          molestiae
          architecto!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, quidem? Reiciendis quasi soluta
          excepturi aperiam blanditiis eos exercitationem at, sed alias necessitatibus aliquid perferendis
          consectetur, consequuntur, possimus voluptate nulla obcaecati?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos unde dicta deleniti distinctio
          similique
          aliquam praesentium doloremque. Accusantium delectus at magni, dolorem tempore id asperiores
          repudiandae
          inventore optio quia quisquam?
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid enim quia amet quasi, ex saepe
          natus
          officia distinctio laboriosam accusantium, possimus ducimus culpa corporis rem quas ratione ipsa,
          aspernatur autem.
        </p>
      </div>
      <div style="width: 1200px;">
        <img class="img2" src="/assets/picture/beata.JPEG" alt="beata" title="beata">
        <p class="img2_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ducimus consequatur
          exercitationem rerum,
          doloribus voluptatibus itaque, eveniet id deleniti aperiam fugit similique eum distinctio recusandae
          consequuntur adipisci voluptate commodi? Est. Lorem ipsum dolor sit, amet consectetur adipisicing
          elit.
          Amet impedit sint eaque expedita perferendis deserunt adipisci explicabo quia reprehenderit quidem?
          Temporibus accusantium tenetur praesentium eius id tempore iure molestias corporis!</p>

      </div>
    </div>
  </div>
</div>